<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="heading">Project Manager Application&nbsp;|</div>
    
    <ul class="navbar-nav">
      <li><a routerLink="/add-project" class="nav-link">Add Project</a></li>
      <li class="nav-link">|</li>
      <li><a routerLink="/add-task" class="nav-link">Add Task</a></li>
      <li class="nav-link">|</li>
      <li><a routerLink="/add-user" class="nav-link">Add User</a></li>
      <li class="nav-link">|</li>
      <li><a routerLink="/view-task" class="nav-link">View Task</a></li>
    </ul>

  </nav>
</header>